<div class="card mx-2 my-2" style="width: 18rem">
  <img
    src="/images/{{file_name}}"
    class="card-img-top"
    alt="Image of {{first_name}} {{last_name}}"
  />
  <div class="card-body">
    <ul class="list-group">
      <li class="card-title list-group-item">{{first_name}} {{last_name}}</li>
      <li class="card-text list-group-item">National Team:
        <img src="/images/{{national_team}}" /></li>
      <li class="card-text list-group-item">Position: {{position}}</li>

    </ul>

  </div>
</div>