<div class="card mx-2 my-2" style="width: 18rem">
  <img
    src="/images/{{file_name}}"
    class="card-img-top"
    alt="Image of {{first_name}} {{last_name}}"
  />
  <div class="card-body">
    <h5 class="card-title">{{first_name}} {{last_name}}</h5>

    <p class="card-text">National Team: <img src="/images/{{national_team}}" alt="National Team Flag" /> </p>
    <p class="card-text">Position: {{position}}</p>
  </div>
</div>
