<div class="card mx-2 my-2" style="width: 18rem">
  <img
    src="{{file_name}}"
    class="card-img-top"
    alt="Image of {{first_name}} {{last_name}}"
  />
  <div class="card-body">
    <h5 class="card-title">{{first_name}} {{last_name}}</h5>

    <p class="card-text">National Team: {{national_team}}</p>
    <p class="card-text">Position: {{position}}</p>
  </div>
</div>

player_name: 'Dani Rojas', national_team: 'Mexico', position: 'ST', kit_number:
14, date_of_birth: 'September 16', former_clubs: 'Club America', games_played:
26, starts:26, goals:13, shots_on_target:32, assists: 5, passes_success_rate:
.87, yellow_cards: 1, red_cards: 0, tackle_success_rate: .54, file_name:
'Rojas.png'