<div class="card mx-2 my-2" style="width: 18rem">
  <img
    src="{{file_name}}"
    class="card-img-top"
    alt="Image of {{player_name}}"
  />
  <div class="card-body">
    <h5 class="card-title">{{player_name}}</h5>

    <p class="card-text">{{national_team}}</p>
    <p class="card-text">{{position}}</p>
  </div>
</div>