<div class="card" style="width: 18rem">
  <img src="{{file_name}}" class="card-img-top" alt="Image of {{name}}" />
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{position}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">National Team: {{national_team}}</li>
    <li class="list-group-item">Kit: {{kit_number}}</li>
    <li class="list-group-item">Starts: {{starts}}</li>
  </ul>
</div>