<div class="card mx-2 my-2" style="width: 18rem">
  <img
    src="{{file_name}}"
    class="card-img-top"
    alt="Image of {{first_name}} {{last_name}}"
  />
  <div class="card-body">
    <h5 class="card-title">{{first_name}} {{last_name}}</h5>

    <p class="card-text">Nationality: {{nationality}}</p>
    <p class="card-text">Title: {{occupation}}</p>
  </div>
</div>