<div class="card mb-3" style="max-width: 900px">
  <div class="row g-0">
    <div class="col-md-6 mt-3">
      <img
        src="/images/{{staff.file_name}}"
        class="img-fluid rounded border border-5 border-danger mb-5"
        alt="Picture of {{staff.first_name}} {{staff.last_name}}"
      />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5
          class="card-title fs-1"
          style="font-family: Passion One; color:red;"
        >{{staff.first_name}} {{staff.last_name}}</h5>

        <ul class="list-group">
          <li
            class="list-group-item bg-primary"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Nationality:
            <img
              src="/images/{{staff.nationality}}"
              class="ms-5"
              alt="National Flag"
            />
          </li>
          <li
            class="list-group-item bg-primary mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Occupation: {{staff.occupation}}</li>
          <li
            class="list-group-item bg-primary mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Former Clubs:
            {{staff.former_clubs}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{#if loggedIn}}
  <div>
    <h2>Update Staff</h2>
    <form class = "update-form">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="first name">First Name</label>
          <input
            type="name"
            class="form-control"
            id="first_name"
            placeholder="First Name"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="last name">Last Name</label>
          <input
            type="last name"
            class="form-control"
            id="last_name"
            placeholder="Last Name"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="nationality">Nationality</label>
          <input
            type="string"
            class="form-control"
            id="nationality"
            placeholder="nationality"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="occupation">Occupation</label>
          <input
            type="string"
            class="form-control"
            id="occupation"
            placeholder="occupation"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="occupation">Former Clubs</label>
          <input
            type="string"
            class="form-control"
            id="former_clubs"
            placeholder="former clubs"
          />
        </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="file">File Name</label>
          <input
            type="string"
            class="form-control"
            id="file_name"
            placeholder="ex silhouette.png"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary" staffs-id="{{staff.id}}">Submit</button>
    </form>
  </div>
  <div>
    <h2>Delete Staff</h2>
    <button type="submit" class="btn btn-primary" staff-id="{{staff.id}}" id="delete">Delete Player</button>
  </div>
  <script src="../../js/updateDeleteStaff.js"></script>
{{/if}}