<div class="card mb-3" style="max-width: 900px">
  <div class="row g-0">
    <div class="col-md-6 mt-3">
      <img
        src="/images/{{staff.file_name}}"
        class="img-fluid rounded border border-5 border-danger mb-5"
        alt="Picture of {{staff.first_name}} {{staff.last_name}}"
      />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5
          class="card-title fs-1"
          style="font-family: Passion One; color:red;"
        >{{staff.first_name}} {{staff.last_name}}</h5>

        <ul class="list-group">
          <li
            class="list-group-item bg-primary"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Nationality:
            <img
              src="/images/{{staff.nationality}}"
              class="ms-5"
              alt="National Flag"
            />
          </li>
          <li
            class="list-group-item bg-primary mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Occupation: {{staff.occupation}}</li>
          <li
            class="list-group-item bg-primary mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Former Clubs:
            {{staff.former_clubs}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{#if loggedIn}}
  <div class="container"
    style="background-color: red; border-radius: 10px; width: 98%; font-family: Passion One;">
    <h2 style="color: yellow;">Update Staff</h2>
    <form class = "update-form">
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="first name"></label>
          <input
            type="name"
            class="form-control"
            id="first_name"
            placeholder="First Name..."
          />
        </div>
        <div class="form-group col-md-4 p-2">
          <label for="last name"></label>
          <input
            type="last name"
            class="form-control"
            id="last_name"
            placeholder="Last Name..."
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="nationality"></label>
          <input
            type="string"
            class="form-control"
            id="nationality"
            placeholder="Nationality..."
          />
        </div>
        <div class="form-group col-md-4 p-2">
          <label for="occupation"></label>
          <input
            type="string"
            class="form-control"
            id="occupation"
            placeholder="Occupation..."
          />
        </div>
        <div class="form-group col-md-4 p-2">
          <label for="occupation"></label>
          <input
            type="string"
            class="form-control"
            id="former_clubs"
            placeholder="Former Clubs..."
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="file"></label>
          <input
            type="string"
            class="form-control"
            id="file_name"
            placeholder="Player Image Link"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="background-color: #1534d6;
        margin-left:0.5rem" staffs-id="{{staff.id}}">Submit</button>
    </form>
  </div>
  <div class="container my-2"
    style="background: red; border-radius: 10px ; width: 98%; font-family: Passion One; ">
    <h2 style="color: yellow;">Or Click this Button to Delete the Staff</h2>
    <button type="submit" class="btn btn-primary"  staff-id="{{staff.id}}" id="delete" style="background-color: #1534d6; margin-bottom: 1rem">Delete Staff</button>
  </div>
  <script src="../../js/updateDeleteStaff.js"></script>
{{/if}}