<div class="card mb-3" style="max-width: 900px">
  <div class="row g-0">
    <div class="col-md-6">
      <img
        src="/images/{{players.file_name}}"
        class="img-fluid rounded mt-2"
        alt="Picture of {{players.first_name}} {{players.last_name}}"
      />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5
          class="card-title fs-1"
          style="font-family: Passion One; color:red;"
        >{{players.first_name}} {{players.last_name}}</h5>

        <ul class="list-group">
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            National Team:
            <img
              src="/images/{{players.national_team}}"
              class="ms-2"
              alt="National Team Flag"
            />
          </li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Position: {{players.position}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Kit Number: {{players.kit_number}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Born: {{players.date_of_birth}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Former Clubs:
            {{players.former_clubs}}
          </li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Games Played:
            {{players.games_played}}
          </li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Starts: {{players.starts}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Goals: {{players.goals}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Shots On Target:
            {{players.shots_on_target}}
          </li>

          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Assists: {{players.assists}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Passes Success Rate:
            {{players.passes_success_rate}}
          </li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Yellow Cards:
            {{players.yellow_cards}}
          </li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Red Cards: {{players.red_cards}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Tackle Success Rate:
            {{players.tackle_success_rate}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{#if loggedIn}}
  <div
    class="container"
    style="background-color: red; border-radius: 10px; width: 98%; font-family: Passion One;"
  >
    <h2 style="color: yellow;">Update Player Fields Below</h2>
    <form class="update-form">
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="first name"></label>
          <input
            type="name"
            class="form-control"
            id="first_name"
            placeholder="First Name..."
          />
        </div>
        <div class="form-group col-md-4 p-2">
          <label for="last name"></label>
          <input
            type="last name"
            class="form-control"
            id="last_name"
            placeholder="Last Name..."
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="kit number"></label>
          <input
            type="number"
            class="form-control"
            id="kit_number"
            placeholder="Kit Number... ex 47"
          />
        </div>
        <div class="form-group col-md-4 p-2">
          <label for="dob"></label>
          <input
            type="dob"
            class="form-control"
            id="date_of_birth"
            placeholder="Birth Date... ex July 1"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="national team"></label>
          <input
            type="name"
            class="form-control"
            id="national_team"
            placeholder="National Team Flag...ex eng.png"
          />
        </div>
        <div class="form-group col-md-4 p-2">
          <label for="position"></label>
          <input
            type="position"
            class="form-control"
            id="position"
            placeholder="Position..."
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="former club"></label>
          <input
            type="former clubs"
            class="form-control"
            id="former_clubs"
            placeholder="Former Clubs..."
          />
        </div>
        <div class="form-group col-md-4 p-2">
          <label for="games played"></label>
          <input
            type="dob"
            class="form-control"
            id="games_played"
            placeholder="Games Played..."
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="starts"></label>
          <input
            type="starts"
            class="form-control"
            id="starts"
            placeholder="Number of starts..."
          />
        </div>
        <div class="form-group col-md-4 p-2">
          <label for="goals"></label>
          <input
            type="dob"
            class="form-control"
            id="goals"
            placeholder="Number of Goals"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="shots"></label>
          <input
            type="shots on target"
            class="form-control"
            id="shots_on_target"
            placeholder="Number of Shots"
          />
        </div>
        <div class="form-group col-md-4 p-2">
          <label for="assists"></label>
          <input
            type="dob"
            class="form-control"
            id="assists"
            placeholder="Number of Assists"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="passes"></label>
          <input
            type="starts"
            class="form-control"
            id="passes_success_rate"
            placeholder="Pass Success Rate"
          />
        </div>
        <div class="form-group col-md-4 p-2">
          <label for="yellow"></label>
          <input
            type="dob"
            class="form-control"
            id="yellow_cards"
            placeholder="Number of Yellow Cards"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="red"></label>
          <input
            type="red"
            class="form-control"
            id="red_cards"
            placeholder="Number of Red Cards"
          />
        </div>
        <div class="form-group col-md-4 p-2">
          <label for="tackle"></label>
          <input
            type="tackle"
            class="form-control"
            id="tackle_success_rate"
            placeholder="Tackle Success Rate..."
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 p-2">
          <label for="file"></label>
          <input
            type="string"
            class="form-control"
            id="file_name"
            placeholder="Player Image Link"
          />
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        style="background-color: #1534d6;
        margin-left:0.5rem"
        players-id="{{players.id}}"
      >Submit</button>
    </form>
  </div>
  <div
    class="container my-2"
    style="background: red; border-radius: 10px ; width: 98%; font-family: Passion One; "
  >
    <h2 style="color: yellow;">Or Click this Button to Delete the Player</h2>
    <button
      type="submit"
      class="btn btn-primary"
      player-id="{{players.id}}"
      id="delete"
      style="background-color: #1534d6; margin-bottom: 1rem"
    >Delete Player</button>
  </div>
  <script src="../js/updateDeletePlayer.js"></script>
{{/if}}