<div class="card mb-3" style="max-width: 900px">
  <div class="row g-0">
    <div class="col-md-6">
      <img
        src="/images/{{players.file_name}}"
        class="img-fluid rounded-start"
        alt="Picture of {{players.first_name}} {{players.last_name}}"
      />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{players.first_name}} {{players.last_name}}</h5>

        <ul class="list-group">
          <li class="list-group-item">
            National Team:
            <img src="/images/{{players.national_team}}" alt="National Team Flag" />
          </li>
          <li class="list-group-item">Position: {{players.position}}</li>
          <li class="list-group-item">Kit Number: {{players.kit_number}}</li>
          <li class="list-group-item">Born: {{players.date_of_birth}}</li>
          <li class="list-group-item">
            Former Clubs:
            {{players.former_clubs}}
          </li>
          <li class="list-group-item">
            Games Played:
            {{players.games_played}}
          </li>
          <li class="list-group-item">Starts: {{players.starts}}</li>
          <li class="list-group-item">Goals: {{players.goals}}</li>
          <li class="list-group-item">
            Shots On Target:
            {{players.shots_on_target}}
          </li>

          <li class="list-group-item">Assists: {{players.assists}}</li>
          <li class="list-group-item">
            Passes Success Rate:
            {{players.passes_success_rate}}
          </li>
          <li class="list-group-item">
            Yellow Cards:
            {{players.yellow_cards}}
          </li>
          <li class="list-group-item">Red Cards: {{players.red_cards}}</li>
          <li class="list-group-item">
            Tackle Success Rate:
            {{players.tackle_success_rate}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>