<div class="card mb-3" style="max-width: 900px">
  <div class="row g-0">
    <div class="col-md-6">
      <img
        src="/images/{{players.file_name}}"
        class="img-fluid rounded mt-2"
        alt="Picture of {{players.first_name}} {{players.last_name}}"
      />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5
          class="card-title fs-1"
          style="font-family: Passion One; color:red;"
        >{{players.first_name}} {{players.last_name}}</h5>

        <ul class="list-group">
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            National Team:
            <img
              src="/images/{{players.national_team}}"
              class="ms-2"
              alt="National Team Flag"
            />
          </li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Position: {{players.position}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Kit Number: {{players.kit_number}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Born: {{players.date_of_birth}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Former Clubs:
            {{players.former_clubs}}
          </li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Games Played:
            {{players.games_played}}
          </li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Starts: {{players.starts}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Goals: {{players.goals}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Shots On Target:
            {{players.shots_on_target}}
          </li>

          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Assists: {{players.assists}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Passes Success Rate:
            {{players.passes_success_rate}}
          </li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Yellow Cards:
            {{players.yellow_cards}}
          </li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >Red Cards: {{players.red_cards}}</li>
          <li
            class="list-group-item mt-2"
            style="font-family: Passion One; color: yellow; background-image: linear-gradient(to bottom right, rgb(41, 4, 163) , rgb(12, 72, 236));"
          >
            Tackle Success Rate:
            {{players.tackle_success_rate}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{#if loggedIn}}
  <div>
    <h2>Update Player</h2>
    <form class = "update-form">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="first name">First Name</label>
          <input
            type="name"
            class="form-control"
            id="first_name"
            placeholder="First Name"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="last name">Last Name</label>
          <input
            type="last name"
            class="form-control"
            id="last_name"
            placeholder="Last Name"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="kit number">Kit Number</label>
          <input
            type="number"
            class="form-control"
            id="kit_number"
            placeholder="ex 47"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="dob">Date of Birth</label>
          <input
            type="dob"
            class="form-control"
            id="date_of_birth"
            placeholder="ex July 1"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="national team">National Team</label>
          <input
            type="name"
            class="form-control"
            id="national_team"
            placeholder="ex eng.png"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="position">Position</label>
          <input
            type="position"
            class="form-control"
            id="position"
            placeholder="position"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="former club">Former clubs</label>
          <input
            type="former clubs"
            class="form-control"
            id="former_clubs"
            placeholder="former clubs"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="games played">Games Played</label>
          <input
            type="dob"
            class="form-control"
            id="games_played"
            placeholder="ex 14"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="starts">Starts</label>
          <input
            type="starts"
            class="form-control"
            id="starts"
            placeholder="ex 14"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="goals">Goals</label>
          <input
            type="dob"
            class="form-control"
            id="goals"
            placeholder="ex 14"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="shots">Shots on Target</label>
          <input
            type="shots on target"
            class="form-control"
            id="shots_on_target"
            placeholder="ex 14"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="assists">Assists</label>
          <input
            type="dob"
            class="form-control"
            id="assists"
            placeholder="ex 14"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="passes">Passes Success Rate</label>
          <input
            type="starts"
            class="form-control"
            id="passes_success_rate"
            placeholder="ex 100"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="yellow">Yellow Cards</label>
          <input
            type="dob"
            class="form-control"
            id="yellow_cards"
            placeholder="ex 14"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="red">Red Cards</label>
          <input
            type="red"
            class="form-control"
            id="red_cards"
            placeholder="ex 14"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="tackle">Tackle Success Rate</label>
          <input
            type="tackle"
            class="form-control"
            id="tackle_success_rate"
            placeholder="ex 100"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="file">File Name</label>
          <input
            type="string"
            class="form-control"
            id="file_name"
            placeholder="ex silhouette.png"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary" players-id="{{players.id}}">Submit</button>
    </form>
  </div>
  <div>
    <h2>Delete Player</h2>
    <button type="submit" class="btn btn-primary" player-id="{{players.id}}" id="delete">Delete Player</button>
  </div>
  <script src="../js/updateDeletePlayer.js"></script>
{{/if}}